<img src="/assets/img/Hamburger-PNG-Photos.png" alt="Burger" width="200" height="200">

<h2>Eat-Da-Burger</h2>

<form class="create-form">

    <div class="form-group">
        <input type="text" id="bur" name="name">
    </div>

    <button type="submit">Submit</button>
</form>
<p>Enter a burger you want to eat click the "submit" Button.</p>